<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title></title>
    <link rel="stylesheet" type="text/css" href="interface.css" />
  </head>
  <body>

    <h2>bjss</h2>

    <div class="row">
      <div class="column left" style="background-image: url(https://www.bjss.com/hubfs/MLOps-Header-1920x500.jpg);">
        <div class="banner-texts  has-button ">
          <h4>DELIVER MLOPS MODELS, IN WEEKS NOT MONTHS</h4>
          <p>85% of MLOps models fail to make it into production. Yet, those who are successful can boost their profits by 15%. Overcome the blockers to success with an MLOps assessment from the data science team at BJSS.</p>
        </div>
          <a class="hs-button" href="https://www.bjss.com/mlops?hsLang=en-gb">Home</a>
        </div>

      <div class="column right" style="background-color:var(--mintcream);">

<h1>Book a space</h1>
<p>Need space for day to day work?</p>
          <div class="line"></div>  <!-- Dividing line -->
          <br> <br>
          <div class="placeholder-box" id="click2" href="Booking.html">
            <button type="button"> Login </button>
            <p>Book with/witoutout a meeting</p>
            <p>Note: Please note these bookings are made on first come first serve basis. In case of any discrepensies contact us after loging-in.</p>

          </div>



          </div>

      </div>


  </body>
</html>
