<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- <script type="text/javascript" th:src="@{./js/data_template.js}"></script> -->
	<script type="text/javascript" th:src="@{./js/ajax.js}"></script>
	<script type="text/javascript" th:src="@{./js/user_panel.js}"></script>

	<link rel="stylesheet" type="text/css" th:href="@{./css/dashBoard.css}" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
	<title>Testing</title>
</head>

<body id="test">
	<div class="navBar_container">
		<img class="company-logo" th:src="@{/public/assets/bjss-logo.svg}" alt="">
		<nav class="navbar navbar-expand-sm bg-light navbar-light">

			<!-- Links -->
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{UserDashboard}">Dashboard</a>
				</li>
				<!--  Display username/logout  -->
				<!-- Display username -->
				<span class="username">[[${#request.remoteUser}]]</span>
				<!--  Display logout  -->
				<form class="username-logout-dropdown-item logout" form-method="post" th:action="@{/logout}">
					<button class="btn btn-sm">Logout</button>
				</form>
		</nav>
		<br>
	</div>

	<!-- dashBoard content -->
	<div class="dashBoard_container">
		<div class="column_left">
			<canvas id="canvas" width="1050" height="600"></canvas>
			<div id="container"></div>
			<div id="toollist"></div>
		</div>
		<div class="column_right">
			<div class="dateSelector_box">
				<p class="dateSelector_title">Please choose your time</p>
				<div class="dateSelector">
					<input id="selectDate" type="date" style="width:200px; height:30px;" defaultValue>
					<button class="dateSelector_button">Confirm</button>
				</div>
			</div>
		</div>

	</div>
	
</body>

</html>
